.btn-custom {
    background-color: #eee;
    outline: 1px solid black;
    line-height: 4em;
    height:4em;
    text-align: center;
    flex:1;
    outline-offset: -3px;
}

.btn-custom:hover {
    outline-offset: -1px;
}

.operator {
    background-color: orange;
}