$width:25%;

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    margin: 0 auto;
    width:$width;
    height:75vh;
    /* border: 1px solid aquamarine; */
  
  }
  
  .row {
    display:flex;
  }