.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.container {
  margin: 0 auto;
  width: 25%;
  height: 75vh;
  /* border: 1px solid aquamarine; */ }

.row {
  display: flex; }
